PidFile={{ zabbix_agent2_pidfile }}
LogFile={{ zabbix_agent2_logfile }}
LogFileSize={{ zabbix_agent2_logfilesize }}
#DebugLevel={{ zabbix_agent2_debuglevel }}
Server={{ zabbix_agent2_server }}
#ListenPort={{ zabbix_agent2_listenport }}
#ListenIP={{ zabbix_agent2_listenip }}
ServerActive={{ zabbix_agent2_serveractive }}
#Hostname={{ zabbix_agent2_hostname }}
HostnameItem={{ zabbix_agent2_hostnameitem }}
HostMetadata={{ zabbix_agent2_hostmetadata }}
#HostMetadataItem={{ zabbix_agent2_hostmetadataitem }}
#Timeout={{ zabbix_agent2_timeout }}
Include={{ zabbix_agent2_include }}/{{ zabbix_agent2_include_pattern }}
Include={{ zabbix_agent2_include_plugins }}/{{ zabbix_agent2_include_pattern }}